* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #FFFCF5;
}

.container {
  max-width: 1428px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

a, p, h3, ul {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.header {
  margin-top: 25px;
  margin-bottom: 45px;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-info_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.header-info_text--item {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 155.69%;
}

.header-info_timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-icon {
  height: 16px;
  margin-right: 5px;
}

.header-links {
  min-width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-links_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155.69%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header-links_item:hover {
  color: #10AEAE;
  font-weight: bold;
}

.header-contacts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phone {
  font-size: 18px;
  font-weight: bold;
  line-height: 143.19%;
}

.text-gray {
  opacity: 0.7;
}

.hero {
  margin-bottom: 45px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-description_title {
  margin-bottom: 35px;
  font-size: 42px;
  line-height: 123.69%;
}

.hero-description_text {
  margin-bottom: 35px;
  max-width: 555px;
  font-size: 18px;
  line-height: 149%;
  opacity: 0.8;
}

.hero-description_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation {
  padding: 28px 35px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 174, 174, 0.65)), to(#10AEAE));
  background: linear-gradient(180deg, rgba(16, 174, 174, 0.65) 0%, #10AEAE 100%);
  -webkit-box-shadow: 0px 4px 15px rgba(16, 174, 174, 0.46), inset 0px -3px 4px #0D9797, inset 0px 4px 4px #16DBD8;
          box-shadow: 0px 4px 15px rgba(16, 174, 174, 0.46), inset 0px -3px 4px #0D9797, inset 0px 4px 4px #16DBD8;
  border-radius: 16px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.consultation:hover {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.folder {
  margin-right: 15px;
}

.spareParts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spareParts-link {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F0370E;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.spareParts-link:hover {
  color: #10AEAE;
}

.advantages {
  margin-bottom: 160px;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-item {
  max-width: 335px;
  max-height: 115px;
  padding: 22px 35px 22px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFCF5;
  -webkit-box-shadow: 0px 4px 10px rgba(23, 23, 23, 0.13);
          box-shadow: 0px 4px 10px rgba(23, 23, 23, 0.13);
  border-radius: 22px;
}

.advantages-item_icon {
  margin-right: 15px;
}

.advantages-item_text {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 150px;
}

.service-title {
  margin: 0 0 65px 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 155.69%;
  text-align: center;
}

.service-block {
  background-color: #B6E8E8;
  border-radius: 18px;
}

.service-block_list {
  list-style-image: url(../images/marker.png);
  margin-left: 18px;
  margin-bottom: 30px;
}

.service-block_list--item {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 99%;
  opacity: 0.8;
  padding-left: 5px;
  margin-bottom: 19px;
}

.service-block_title {
  font-weight: 900;
  font-size: 24px;
  line-height: 116.19%;
  margin-bottom: 30px;
}

.service-block_text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  opacity: 0.8;
}

.service-block_caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #015965;
  margin-top: 24px;
}

.service-block_1 {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.service-block_1-1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 45px 255px 10px 45px;
  position: relative;
}

.service-block_1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.service-block_1-2-1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 45px 70px 0 45px;
  position: relative;
}

.service-block_1-2-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 45px 62px 0 45px;
  position: relative;
}

.service-block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.service-block_2-1 {
  min-height: 595px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 45px 48px 10px 45px;
  position: relative;
}

.service-block_2-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 595px;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.service-block_2-2-1 {
  min-height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.service-block_2-2-1-1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 45px 95px 10px 45px;
  position: relative;
}

.service-block_2-2-1-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 45px 65px 10px 45px;
  position: relative;
}

.service-block_2-2-2 {
  width: 100%;
  height: 100%;
  border: 1px solid #E8B51C;
  border-radius: 18px;
  position: relative;
}

.service-block_image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.link-block {
  text-align: center;
  padding-top: 50px;
}

.link-block_question {
  margin-right: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #015965;
}

.link-block_button {
  padding: 22px 48px;
  background: linear-gradient(87.87deg, #FF810D -16.02%, #E8B51C 96.27%);
  border-radius: 16px;
  font-weight: 900;
  font-size: 16px;
  color: #FDFDFD;
}

.link-block_image {
  position: absolute;
  right: 165px;
  top: 20px;
  z-index: -10;
}

.pricelist {
  position: relative;
  margin-bottom: 160px;
}

.pricelist-image1 {
  position: absolute;
  left: 48px;
  bottom: -200px;
  z-index: -5;
}

.pricelist-image2 {
  position: absolute;
  right: 12px;
  bottom: -218px;
  z-index: -5;
}

.pricelist-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  padding: 40px 30px;
  font-size: 18px;
  line-height: 21px;
  background: #FFFCF5;
}

.pricelist-title {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  margin-bottom: 65px;
}

.tableBox {
  border: 2px solid #10AEAE;
  border-radius: 28px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #FFFCF5;
}

.left-col {
  width: 50%;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.right-col {
  width: 50%;
  padding-left: 40px;
  padding-right: 70px;
}

.left-text {
  font-size: 18px;
  line-height: 21px;
  float: left;
}

.right-text {
  font-size: 18px;
  line-height: 21px;
  color: #015965;
  float: right;
}

.even {
  background: -webkit-gradient(linear, left top, left bottom, from(#EFF7F1), to(#E8F5EE));
  background: linear-gradient(180deg, #EFF7F1 0%, #E8F5EE 100%);
  border-radius: 24px;
}

.sliders-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 155.69%;
  text-align: center;
  margin-bottom: 45px;
}

.sliders-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.sliders-buttons_item {
  font-size: 18px;
  line-height: 155.69%;
  background: #FFFCF5;
  border: none;
  cursor: pointer;
}

.activeButton {
  color: #10AEAE;
  font-weight: bold;
}

.swiper-pagination {
  z-index: 5;
}

.slider {
  display: none;
}

.slider-active {
  display: block;
}

.slider-image {
  border-radius: 24px;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 14px;
}

.myPagination {
  bottom: -20px;
}

.contacts-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 155.69%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}

.contacts-full {
  border: 1px solid;
}

.map {
  border-radius: 25px;
  border: none;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(23, 23, 23, 0.13));
          filter: drop-shadow(0px 4px 10px rgba(23, 23, 23, 0.13));
}
/*# sourceMappingURL=style.css.map */