@media (max-width: 1460px)
  .container
    max-width: 95%

@media (max-width: 1190px)
  .header
    &-links
      min-width: 329px

@media (max-width: 1190px)
  .header
    &-links
      display: none
